<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />

<html>
  <body class="bg-warning userPage">
    <div class="bg-light text-dark rounded formContainer">
      <form method="POST" action="?_method=PUT" class="userForm">
        <h2 class="text-center text-primary formTitle">Edit User</h2>
        
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input name="userName" type="text" class="form-control" placeholder="New Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      
        <div class="mb-3">
          <input name="password" class="form-control" id="exampleFormControlInput1" placeholder="New Password">
        </div>
      
        <div class="mb-3">
          <textarea name="status" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Something new happened, tell me!"></textarea>
        </div>
      
        <div class="col-12 text-center buttons">
          <button class="btn btn-danger" type="submit"><a href="/">Cancel</a></button>
          <button class="btn btn-primary" type="submit">Save User</button>
          <%- include('partials/deleteForm', {url: `/${user.id}/edit`}) %>
        </div>

        <div class="text-center">
          <h4 class="text-danger"><%- include('partials/error') %> </h4>
        </div>
      </form>
    </div>
  </body>
</html>
