<form method="POST" action="/new" >
  <h2>Welcome New User!</h2>
  <%- include('partials/error') %> 
  <div>
    <label>Create Username:</label>
    <input type="text" name="userName" value="<%= user.userName %>"/>
  </div>
  
  <div>
    <label>Password:</label>
    <input type="text" name="password" value="<%= user.password %>" placeholder="Under 5 letter nouns please."/>
  </div>
  
  <div>
    <label>Status:</label>
    <input type="textarea" name="status" value="<%= user.status %>"/>
  </div>
  
  <a href="/">Cancel</a>
  <button type="submit">Submit</button>
</form>