<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />

<html>
    <head>
        <body class="bg-warning userPage">
            <div class="bg-light text-dark rounded formContainer">
                <form method="POST" action="/:id/password" class="userForm" >
                  <h2 class="text-center text-primary formTitle">Enter your Password!</h2>
                
                  <div class="mb-3">
                    <input name="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password">
                  </div>
                
                  <div class="col-12 text-center buttons">
                    <button class="btn btn-danger" type="submit"><a href="/">Cancel</a></button>
                    <button class="btn btn-primary" type="submit">Enter</button>
                  </div>
          
                  <div class="text-center">
                    <h4 class="text-danger"><%- include('partials/error') %> </h4>
                  </div>
                </form>
              </div>
            </body>
        </body>
    </head>
    
</html>