.userForm {
  width: 50%;
}

.userPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.profileImage {
  width: 5vw;
  margin-left: 3%;
}

.topUser {
  padding-bottom: 0.5em;
}

.formContainer {
  width: 60%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formTitle {
  padding-bottom: 0.5em;
}

.buttons {
  padding-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
}

.vstack {
  display: flex;
  align-items: center;
}

.eachUserContainer {
  width: 60%;
  height: 20%;
}

.eachUser {
  padding: 1em;
}

.edit {
  margin-left: 8em;
  margin-top: -0.5em;
}

.userName {
  color: white;
  margin-left: 2%;
}

.editUser {
  margin-left: 15%;
}

.status {
  width: 80%;
  height: 3em;
  padding-left: 1em;
  margin-left: 2.8em;
  outline-style: inset;
  outline-width: 0.2em;
  outline-color: whitesmoke;
  color: white;
}

.container {
  padding-bottom: 2%;
}

@media screen and (min-width: 600px) {
  .addUser {
    text-align: center;
  }
}
